
.left{
    width: 450px;
    margin-top: -15px;
}

.right{
    flex: 1 1;
    padding-left: 100px;
    margin-top: -15px;
}

.title{
    font-size: 20px;
    color: rgba(0,0,0,.85);
    line-height: 28px;
    font-weight: 500;
    margin-bottom: 12px;
}

.avrt{
    height: 22px;
    font-size: 14px;
    color: rgba(0,0,0,.85);
    line-height: 22px;
    margin-bottom: 8px;
}

.avr{
    margin-top: 15px;
    width: 144px;
    height: 144px;
    margin-bottom: 12px;
    overflow: hidden;
}

